* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(115, 118, 121);
}

ul,
ol,
li {
  list-style: none;
}
:root {
   --bg2: rgb(248, 249, 249);
  --bg: #ed0030;
}

body {
    
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}
.propaganda {
  height: 70px;
  width: 70%;
  background-color: rgb(253, 255, 127);
}

header {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  padding-right: 10px;
}

.banner {
  height: 150px;
  width: 85%;

}

.logos {
    padding-top: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  
  justify-content: space-between;
}

.logos img {
  height: 80%;
}
/* Criação da caixa de texto com o icone de pesquisa */
.input-box {
  position: relative;
  width: 50%;
}

.input-box input {
  padding-left: 10px;
  /* padding: 10px 10px 10px 35px; */
  border-radius: 5px;
  border: 0;
  height: 40px;
  width: 100%;
}
.input-box i {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
.input-box .icone {
  color: var(--bg);
}
.icon-texto {
  color: aliceblue;
  font-weight: 600;
  gap: 10px;
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  width: 190px;
}
.icon {
  font-size: 25px;
  color: rgb(240, 247, 247);
}

.info {
  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: end;
}
.cep {
  gap: 10px;
  display: flex;
  width: 30%;
}
.cep a {
  font-weight: 700;
}
.cep .icone{
    color: aliceblue;
}
.links {
  font-weight: 600;

  height: 30px;
  width: 70%;
}
.links menu {
  display: flex;
  justify-content: space-between;

  padding-right: 10px;
  height: 100%;

}

.info a {
  color: aliceblue;
}
.info li {
  display: flex;
  align-items: center;
}
.info li:hover {
  border-radius: 3px;
  padding: 5px 5px;
  background-color: brown;
}

.info-produtos {
  width: 85%;
  height: 50px;
  background-color: var(--bg2);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
justify-content: space-between;
}
.local {
  width: 25%;
  font-weight: 600;
}
.info-produtos menu {
  width: 79%;
  justify-content: space-between;
  display: flex;
}

.info-produtos a:hover {
  color: brown;
}
.mercado{
    width: 19%;
   font-weight: 600;
    display: flex;
    justify-content: end;
}
main {
  width: 100%;
  height: 70vh;
}
